#profile_shirts{
    background-image: url('../pictures/Bonavita.png');
}

.profile_wallet{
    font-size: 2em;
}

.profile_wallet_hide{
    display: none;
}

.profile_wallet:hover+.profile_wallet_hide{
    display: block;
}

.profile_wallet_button{
    height: 300px;
    width: 300px;
    font-size: 2em;
    padding: 20px;
    margin: 0px 20px;
    border-radius: 20px;
    background-color: brown;
} 

.profile_shirt{
    width: 80%;
    object-fit: scale-down;
}